nav{
  color: #9D4EDD;
  background-color: black;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .title{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

nav .title .menu{
  color: #9D4EDD;
}

nav .title .menu:hover{
  color: #00E5FF;
  cursor: pointer;
}

nav .title h1{
  text-shadow: 2px 2px 5px #981efc;
}

nav .search{
  position: relative;
}

nav .search .search-icon{
  position: absolute;
  right: 10px;   /* move inside input from right */
  top: 50%;
  transform: translateY(-50%);
  color: #9D4EDD;
}

nav .search .search-icon:hover{
  color: #00E5FF;
  cursor: pointer;
}

nav .search .search-anime{
  height: 30px;
  width: 300px;
  padding-right: 25px;
  padding-left: 20px;
  border-radius: 50px;
  border: none;
  background-color: #383838;
  color: white;
}

nav .notifi{
  color: #9D4EDD;
}

nav .notifi:hover{
  color: #00E5FF;
  cursor: pointer;
}